body {
  color: #212121;
  font-family: "Roboto", sans-serif;
}
.header {
  background-color: #ffffff;
}
.logo {
  font-family: "Raleway";
  color: #000000;

  &:hover {
    color: #2196f3;
  }
  .logo--blue {
    color: #2196f3;
  }
}
.navigation {
  .navigation__link {
    color: #212121;
    &:hover {
      color: #2196f3;
    }
    &:focus {
      color: #2196f3;
    }
  }
  .navigation--color {
    color: #2196f3;
    &:focus {
      color: #2196f3;
    }
  }
  .navigation__link--bar::after {
    background-color: #2196f3;
  }

  .navigation__contact {
    color: #757575;
    &:hover {
      color: #2196f3;
      fill: #2196f3;
    }
    &:focus {
      color: #2196f3;
      fill: #2196f3;
    }
  }
  .navigation__svg {
    fill: #757575;
  }
}
.wallpaper {
  background-color: #2f303a;
  .wallpaper__title {
    color: #ffffff;
  }
  .wallpaper__button {
    color: #ffffff;
    background: #2196f3;
    &:focus {
      color: #212121;
    }
  }
}

.containery {
  .containery__svg {
    background: #f5f4fa;

    .containery__text {
      color: #757575;
    }
    .containery__title {
      color: #212121;
    }
  }
}
.section {
  &__title {
    color: #212121;
  }
}
.section--background-color {
  background: #f5f4fa;
}

.type-work {
  .type-work__text {
    background-color: rgba(47, 48, 58, 0.8);
    color: #ffffff;
  }
}
.person {
  &__card {
    background: #ffffff;
  }

  .person__job-position {
    color: #757575;
  }

  .person__name {
    color: #212121;
  }
}
.person-media {
  .person-media__icon {
    fill: #afb1b8;

    background-color: #ffffff;
    &:hover {
      background-color: #2196f3;
      fill: #ffffff;
    }
  }
}
.client {
  .client__logo {
    fill: #afb1b8;

    &:hover {
      border-color: #2196f3;
      fill: #2196f3;
    }
  }
}

.button {
  &:hover {
    color: #ffffff;
    background: #2196f3;
  }
  &:focus {
    color: #2196f3;
  }
}
.projects {
  .projects__box {
    background: #ffffff;
  }

  .projects__overlay {
    background: rgba(33, 150, 243, 0.9);
    color: #ffffff;
  }

  .projects__coment {
    color: #757575;
  }
}
.footer {
  background: #2f303a;

  .footer__title {
    color: #ffffff;
  }
}
.contact-list {
  .contact-list__adres {
    color: #ffffff;
    &:focus {
      color: #2196f3;
    }
    &:hover {
      color: #2196f3;
    }
  }
  .contact-list__tel-email {
    color: rgba(255, 255, 255, 0.6);
    &:focus {
      color: #2196f3;
    }
    &:hover {
      color: #2196f3;
    }
  }
}

.media {
  .media__icon {
    fill: #ffffff;

    background-color: rgba(255, 255, 255, 0.1);
    &:hover {
      background-color: #2196f3;
      fill: #ffffff;
    }
  }
}
.newsletter {
  .newsletter__button {
    background: #2196f3;
    color: #ffffff;
  }
  .newsletter__svg {
    fill: #ffffff;
  }
  .newsletter__bar {
    background: #2f303a;
  }
}
.backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}
.modal {
  background: #ffffff;

  .modal__button-close {
    border: rgba(0, 0, 0, 0.1);
  }
  .modal__title {
    font-family: "Roboto";
    color: #212121;
  }
}
.form {
  font-family: "Roboto";

  color: #757575;

  .form__svg {
    fill: #212121;
  }

  .form__coment {
    font-family: "Roboto";

    color: rgba(117, 117, 117, 0.5);
  }
  .from__checkbox-check {
    fill: #ffffff;
  }
  .form__checkbox {
    background: #ffffff;
    border: #000000;
    &:checked {
      background-color: #2196f3;
      border-color: #2196f3;
    }
  }
  .form--blue-underline {
    color: #2196f3;
  }
  .form__button-submit {
    background: #2196f3;

    color: #ffffff;
  }
}
.form__input-field:focus + .form__svg,
.form__input-field:focus {
  fill: #2196f3;
  border-color: #2196f3;
}
