.contact-list {
  margin-top: 20px;
  margin-bottom: 60px;
  &__adres {
    font-size: 14px;
    line-height: 1, 71428571;
    letter-spacing: 0.03em;

    text-decoration: none;
  }
  &__between {
    padding-top: 9px;
    padding-bottom: 9px;
  }
  &__tel-email {
    font-weight: 400;
    font-size: 14px;
    line-height: 1, 71428571;
    letter-spacing: 0.03em;
  }
  &--decoration-not {
    text-decoration: none;
  }
}
